data/**
test/**
log/**
logs/**
.vscode
.env
*.code-workspace
encryption_data/**
bibliography.txt
SETUP

#Will remove these soon
scripts/modules/admin.py



#just a file I use for debugging
debug/**

#modules
__pycache__/