data/**
test/**
tests/**
log/**
logs/**
MIGRATION/**
.vscode
#my venv
pwd-manager/**
.env
*.code-workspace
encryption_data/**
bibliography.txt
SETUP
Untitled.png



#just a file I use for debugging
debug/**

#modules
__pycache__/