data/**
test/**
log/**
logs/**
.vscode
.env
*.code-workspace
encryption_data/**
bibliography.txt
SETUP

#Will remove these soon
src/modules/admin.py
src/modules/logs.py
dist/modules/admin.py
dist/modules/logs.py



#just a file I use for debugging
debug/**

#modules
__pycache__/